<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
		    <nav>
                <ul>
                    <li><a href="/">FMK</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
			</nav>
			<article class="container">
			
			{{ content }}
			
			</article>
			<footer>
                <ul>
                    <li><a href="https://github.com/FMKlub">github.com/FMKlub</a></li>
				</ul>
				<p>{{ description }}</p>
			</footer>
		</body>
	</html>
