<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
		    <nav>
                <a href="/">FMK</a>
                <a href="/blog">Blog</a>
                </ul>
			</nav>
			<article class="container">
			
			{{ content }}
			
			</article>
			<footer>
				<p>{{ description }}</p>
				<address>
                    Fisketorvets Motorbådklub<br>
                    Elværksvej 9<br>
                    2450 København SV<br>
                    Danmark
                </address>
				<p>Github: <a href="https://github.com/FMKlub">github.com/FMKlub</a></p>
			</footer>
		</body>
	</html>
