<!DOCTYPE html>
	<html lang="da">
		<head>
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
            <header>
                <nav>
                    <a href="/">FMK</a>
                    <a href="/blog">Blog</a>
                    </ul>
                </nav>
                <h1>{{ page.header }}</h1>
			</header>
			<article class="container">
			
			{{ content }}
			
			</article>
			<footer>
			    <h2>Kontakt os</h2>
				<address>
                    Fisketorvets Motorbådklub<br>
                    Elværksvej 9<br>
                    2450 København SV<br>
                    Danmark<br>
                    fmk-kbh at hotmail.dk 
                </address>
				<p>Github: <a href="https://github.com/FMKlub">github.com/FMKlub</a></p>
			</footer>
		</body>
	</html>
